{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tittle %}
    <title>
        Scrumptious recipes
    </title>
    {% endblock tittle %}
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    {% block content %}
    <header>
        <nav>
            <a class="color-white" href="{% url 'recipe_list' %}">Main Page</a>
            <a class="color-white" href="{% url 'create_recipe' %}"><button>Create Recipe</button></a>  
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a href="{% url 'use_logout' %}"> Logout</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
        {% else %}
            <a href="{% url 'signup' %}"> Sign up!</a>
            <a href="{% url 'user_login' %}"> Login!</a>
        {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious recipes</h1>
        <h2> All food that's fit to eat</h2>
    <div class="general-grid">
            {% for recipe in recipe_list %}
        <div>
            <h3>
            <div><a class="color-green" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a></div>
            <div><p>{{ recipe.create_on|date:"j F Y" }}</p></div>
            <div><img src="{{ recipe.picture }}"/></div>
            <div><h5>4.5 stars</h5></div> 
            </h3>
        </div>
        {% empty %}
        <!-- <p> There are no recipes. </p> -->
        {% endfor %} 
    </div>
    </main>
    {% endblock content %}
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>